Source: wazo-python-pydantic-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.7

Package: python3-pydantic
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-email-validator
Description: Data validation and settings management using Python type hinting
 .
 Fast and extensible, pydantic plays nicely with your
 linters/IDE/brain. Define how data should be in pure, canonical
 Python 3.6+; validate it with pydantic.
